<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="styles.css" /> -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/0d9365b070.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="bg-dark">
    <div class="container-fluid bg-info pt-4 pb-4">
      <h1 class="display-1 text-center text-white">Baza de Date Liceu</h1>
    </div>

    <form class="mt-5 text-center" action="/fetch" method="get">
      <h3 class="d-inline text-white me-2">Clasa:</h3>
      <input type="text" name="clasa" placeholder="ex: 9B" />
      <button type="submit" class="btn btn-secondary ms-2 mb-2">
        Afiseaza
      </button>
    </form>

    <div class="container-fluid w-75">
      <form action="">
        <table class="table table-dark table-hover mt-5">
          <thead>
            <tr class="text-center table-info row">
              <th class="fs-3 col-5" scope="col">Clasa: <%= arr[0].clasa %></th>
              <th class="fs-3 col-7" scope="col">
                <% let diriginte = arr[0].nume_p + ' ' + arr[0].prenume_p; %>
                Diriginte: <%= diriginte; %>
              </th>
            </tr>
            <tr class="row">
              <th class="col-1"></th>
              <th class="col-2 text-center" scope="col">NR_MATRICOL</th>
              <th class="col-3" scope="col">Nume</th>
              <th class="col-3" scope="col">Prenume</th>
              <th class="col-2" scope="col">Media</th>
              <th class="col-1"></th>
            </tr>
          </thead>
          <tbody>
            <% for (var i in arr){ %>
            <tr class="row">
              <td class="col-1 text-center">
                <input
                  type="hidden"
                  name="sterge_id"
                  value="<%= arr[i].id_elev %> "
                />
                <a href="remove/<%= arr[i].id_elev %>/<%= arr[i].clasa %> "
                  ><i class="fas fa-times text-danger"></i
                ></a>
              </td>
              <th scope="row" class="text-white col-2 text-center">
                <%= arr[i].id_elev; %>
              </th>
              <td class="text-white col-3"><%= arr[i].nume; %></td>
              <td class="text-white col-3"><%= arr[i].prenume; %></td>
              <td class="col-2"></td>
              <td class="col-1 text-center">
                <a href="detaliielev/<%= String(arr[i].id_elev) %> "
                  ><i class="fas fa-info-circle text-white"></i
                ></a>
              </td>
            </tr>

            <% ++i; %> <% } %>
            <tr class="row">
              <th class="col-1"></th>
              <th class="col-2 text-center pt-3">#</th>
              <td class="col-3">
                <input
                  type="hidden"
                  name="clasa"
                  value="<%= arr[0].clasa %> "
                />
                <input
                  class="form-control"
                  type="text"
                  name="nume_nou"
                  placeholder="Nume"
                />
              </td>
              <td class="col-3">
                <input
                  class="form-control"
                  type="text"
                  name="prenume_nou"
                  placeholder="Prenume"
                />
              </td>
              <td class="col-2"></td>
              <td class="col-1 text-center">
                <button type="submit" class="btn btn-secondary">
                  <a href=""><i class="fas fa-user-plus text-white"></i></a>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
